<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd"> 
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:p="http://primefaces.org/ui"> 

<h:head></h:head> 
<body> 
	<ui:composition template="template3.xhtml">
		<ui:define name="titre_page"></ui:define>
		<ui:define name="titre"></ui:define>
		<ui:define name="body">
		
                        
		</ui:define>
	</ui:composition>
</body> 
</html>
