<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd"> 
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:p="http://primefaces.org/ui"> 

	<ui:composition>
 
		<h:form class="navigation">
			<h5  style="display: #{(utilisateurService.isAutorized('1_1') or utilisateurService.isAutorized('1_2') or utilisateurService.isAutorized('1_3'))?'block':'none'}" class="title">Reporting</h5>
			<!-- /.title -->
			<ul class="menu js__accordion">
				<li class="#{(projetService.menucourant eq '1_1')?'current':''}" style="display: #{utilisateurService.isAutorized('1_1')?'block':'none'}">
					<p:commandLink action="#{projetService.versHome()}" class="waves-effect" ><f:setPropertyActionListener value="1_1" target="#{projetService.menucourant}"/><i class="menu-icon ti-dashboard"></i><span>Tableau de bord</span></p:commandLink>
				</li>
				<li class="#{(projetService.menucourant eq '1_2')?'current':''}" style="display: #{utilisateurService.isAutorized('1_2')?'block':'none'}">
					<a class="waves-effect" href="calendar.html"><i class="menu-icon ti-folder"></i><span>Régistre des PME</span></a>
				</li>
				<li class="#{(projetService.menucourant eq '1_3')?'current':''}" style="display: #{utilisateurService.isAutorized('1_3')?'block':'none'}">
					<a class="waves-effect" href="calendar.html"><i class="menu-icon ti-wallet"></i><span>Portefeuilles</span></a>
				</li>				
			</ul>
			<!-- /.menu js__accordion -->
			<h5 style="display: #{(utilisateurService.isAutorized('2_1') or utilisateurService.isAutorized('2_2') or utilisateurService.isAutorized('1_3'))?'block':'none'}" class="title">Gestionnaire</h5>
			<!-- /.title -->
			<ul class="menu js__accordion">
				<li class="#{(projetService.menucourant eq '2_1')?'current':''}" style="display: #{utilisateurService.isAutorized('2_1')?'block':'none'}">
					<a class="waves-effect" href="index.html"><i class="menu-icon ti-wallet"></i><span>Mon portefeuille</span></a>
				</li>
				<li class="#{(projetService.menucourant eq '2_2')?'current':''}" style="display: #{utilisateurService.isAutorized('2_2')?'block':'none'}">
					<a class="waves-effect" href="calendar.html"><i class="menu-icon ti-pencil"></i><span>Mes évaluations</span></a>
				</li>
			</ul>
			<!-- /.menu js__accordion -->			
			<h5 style="display: #{(utilisateurService.isAutorized('3_1') or utilisateurService.isAutorized('3_2') or utilisateurService.isAutorized('3_3'))?'block':'none'}" class="title">Scoring</h5>
			<!-- /.title -->
			<ul class="menu js__accordion">

				<li class="#{(projetService.menucourant eq '3_1')?'current':''}" style="display: #{utilisateurService.isAutorized('3_1')?'block':'none'}">
					<a class="waves-effect" href="index.html"><i class="menu-icon ti-flag-alt"></i><span>Lancer une évaluation</span></a>
				</li>
				<li class="#{(projetService.menucourant eq '3_2')?'current':''}" style="display: #{utilisateurService.isAutorized('3_2')?'block':'none'}">
					<a class="waves-effect" href="calendar.html"><i class="menu-icon ti-pencil-alt"></i><span>Évaluations en cours</span></a>
				</li>				
				<li class="#{(projetService.menucourant eq '3_3')?'current':''}" style="display: #{utilisateurService.isAutorized('3_3')?'block':'none'}">
					<a class="waves-effect" href="calendar.html"><i class="menu-icon ti-stats-down"></i><span>Reporting</span></a>
				</li>					
				
			</ul>
			<!-- /.menu js__accordion -->
			<h5 style="display: #{(utilisateurService.isAutorized('4_1') or utilisateurService.isAutorized('4_2'))?'block':'none'}" class="title">Paramètres</h5>
			<!-- /.title -->
			
			<ul class="menu js__accordion">
				<!-- <li class="current active"> -->
				<li class="#{(projetService.menucourant eq '4_1')?'current':''}" style="display: #{utilisateurService.isAutorized('4_1')?'block':'none'}">
					<a  class="waves-effect parent-item js__control" href="#"><i class="menu-icon ti-server"></i><span>Système</span><span class="menu-arrow fa fa-angle-down"></span></a>
					<ul class="sub-menu js__content">
						<li><p:commandLink action="#{utilisateurService.versProfil()}"><f:setPropertyActionListener value="4_1" target="#{projetService.menucourant}"/>Profils</p:commandLink></li>
						<li><p:commandLink action="#{utilisateurService.versUtilisateur()}"><f:setPropertyActionListener value="4_1" target="#{projetService.menucourant}"/>Utilisateurs</p:commandLink></li>
						<li><a href="page-recoverpw.html">Constantes système</a></li>
					</ul>
					<!-- /.sub-menu js__content -->
				</li>
				<li class="#{(projetService.menucourant eq '4_2')?'current':''}" style="display: #{utilisateurService.isAutorized('4_2')?'block':'none'}">
					<a class="waves-effect parent-item js__control" href="#"><i class="menu-icon ti-pencil-alt2"></i><span>Notation</span><span class="menu-arrow fa fa-angle-down"></span></a>
					<ul class="sub-menu js__content">
						<li><a href="extras-contact.html">Contact list</a></li>
						<li><a href="extras-email-template.html">Email template</a></li>
						<li><a href="extras-faq.html">FAQ</a></li>
						<li><a href="extras-gallery.html">Gallery</a></li>
						<li><a href="extras-invoice.html">Invoice</a></li>
						<li><a href="extras-maps.html">Maps</a></li>
						<li><a href="extras-pricing.html">Pricing</a></li>
						<li><a href="extras-projects.html">Projects</a></li>
						<li><a href="extras-taskboard.html">Taskboard</a></li>
						<li><a href="extras-timeline.html">Timeline</a></li>
						<li><a href="extras-tour.html">Tour</a></li>
					</ul>
					<!-- /.sub-menu js__content -->
				</li>
			</ul>
			<!-- /.menu js__accordion -->
		</h:form>

	</ui:composition>
</html>
