<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:p="http://primefaces.org/ui">
      
      <h:head>
<!--       	<script language="javascript">
		window.onblur = function() {
			window.close();
        }
		</script> -->
      </h:head>

	<body >
	        	<p:media value="#{printService.streamedContent}" player="pdf" cache="false" width="100%" height="500"></p:media>
	</body>
	
</html>