<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd"> 
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:p="http://primefaces.org/ui"> 

	<ui:composition template="template3.xhtml">
		<ui:define name="titre_page">Gestion des profils</ui:define>
		<ui:define name="titre"></ui:define>
		<ui:define name="body">
		
				<h:form id="wrapper">
					<div class="main-content">
						<div class="row small-spacing">
							<div class="col-xs-12">
								<div class="box-content">
									<h4 class="box-title"></h4>
									<!-- /.box-title -->
									
									<div class="dropdown js__drop_down">
										<a href="#" class="dropdown-icon glyphicon glyphicon-option-vertical js__drop_down_button"></a>
										<ul class="sub-menu">
											<li><p:commandLink  update="@([id$=formProfil])"  action="#{utilisateurService.initProfil()}" oncomplete="$('#modaluser').modal('show')">Créer un profil</p:commandLink></li>
										</ul>
										<!-- /.sub-menu -->
									</div>
									<!-- /.dropdown js__dropdown -->
									<table id="example" class="table table-striped table-bordered display" style="width:100%">
										<thead>
											<tr>
												<th>Code</th>
												<th>Libellé</th>
											</tr>
										</thead>
										<tfoot>
											<tr>
												<th>Code</th>
												<th>Libellé</th>
											</tr>
										</tfoot>
										<tbody>
											<ui:repeat var="obj" value="#{utilisateurService.listProfil}">
												<tr>
													<td>
														<p:commandLink update="@([id$=formProfil])" oncomplete="$('#modaluser').modal('show')" action="#{utilisateurService.chargerArbreRole()}">
														<f:setPropertyActionListener value="#{obj}" target="#{utilisateurService.profil}"></f:setPropertyActionListener>
														#{obj.code}
														</p:commandLink>
														
													</td>
													<td>#{obj.libelle}</td>
												</tr>
											</ui:repeat>
											
										</tbody>
									</table>
								</div>
								<!-- /.box-content -->
							</div>
							
						</div>
					</div>
				</h:form>	
				
<!-- *****************************************POP PROFIL************************************************ -->	

		<div class="modal fade" id="modaluser" tabindex="-1" role="dialog" aria-labelledby="myModalLabel-2">
			<div class="modal-dialog " role="document">
				<h:form id="formProfil" class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
						<h4 class="modal-title" id="myModalLabel-2">#{(utilisateurService.profil.id eq null)?'Créer un profil':'Modifier le profil'}</h4>
					</div>
					<div class="modal-body">
						<div class="card-content">
							<div class="input-group margin-bottom-20">
								<div class="input-group-btn"><label for="ig-1" class="btn btn-default"><i class="fa fa-lock"></i></label></div>
								<!-- /.input-group-btn -->
								<p:inputText required="true" requiredMessage="Code ?" value="#{utilisateurService.profil.code}"  class="form-control" placeholder="Code"/>
							</div>
							<div class="input-group margin-bottom-20">
								<div class="input-group-btn"><label for="ig-1" class="btn btn-default"><i class="fa fa-lock"></i></label></div>
								<!-- /.input-group-btn -->
								<p:inputText required="true" requiredMessage="Profil ?"  value="#{utilisateurService.profil.libelle}" class="form-control" placeholder="Libellé"/>
							</div>	
					
							<div class="form-group">
								<label for="exampleInputEmail1">Habilitations</label>
								<p:tree required="true" requiredMessage="Quels sont les habilitations de ce profil ?" value="#{utilisateurService.arbreRole}" var="node" selectionMode="checkbox" selection="#{utilisateurService.roleChoisi}" >
							        <p:treeNode >
							            <h:outputText value="#{node.libelle}"  />
							        </p:treeNode>
							    </p:tree>								
						    </div>						
							
						</div>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-default btn-sm waves-effect waves-light" data-dismiss="modal">Annuler</button>
						<p:commandLink rendered="#{utilisateurService.profil.id eq null}" onclick="$('#modaluser').modal('hide')" action="#{utilisateurService.enregistrerProfil()}" class="btn btn-primary btn-sm waves-effect waves-light">Enregistrer</p:commandLink>
						<p:commandLink rendered="#{utilisateurService.profil.id ne null}" onclick="$('#modaluser').modal('hide')" action="#{utilisateurService.updateProfil()}" class="btn btn-primary btn-sm waves-effect waves-light">Modifier</p:commandLink>
					</div>
				</h:form>
			</div>
		</div>

<!-- ************************************************************************************************* -->				
                             						
		</ui:define>
	</ui:composition>
</html>
