<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd"> 
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:p="http://primefaces.org/ui"> 

	<ui:composition template="template3.xhtml">
		<ui:define name="titre_page">Paramètres de compte</ui:define>
		<ui:define name="titre"></ui:define>
		<ui:define name="body">
		
				<h:form id="wrapper">
					<div class="main-content">
						<div class="row small-spacing">
							<div class="col-xs-12">
								<div class="box-content">
									<h4 class="box-title">Mes informations</h4>
									<!-- /.box-title -->
									
									<div class="dropdown js__drop_down">
										<a href="#" class="dropdown-icon glyphicon glyphicon-option-vertical js__drop_down_button"></a>
										<ul class="sub-menu">
											<li></li>
										</ul>
										<!-- /.sub-menu -->
									</div>
									<!-- /.dropdown js__dropdown -->
									
									<div class="card-content">
											<div class="form-horizontal">
												<div class="form-group">
													<label for="inputEmail3" class="col-sm-4 control-label">Nom d'utilisateur</label>
													<div class="col-sm-5">
														<p:inputText readonly="true" value="#{login.userConnecte.login}" class="form-control"  />
													</div>
												</div>
												<div class="form-group">
													<label for="inputPassword3" class="col-sm-4 control-label">Nom et prénom</label>
													<div class="col-sm-5">
														<p:inputText readonly="true" value="#{login.userConnecte.nom} #{login.userConnecte.prenom}" class="form-control"  />
													</div>
												</div>
												<div class="form-group">
													<label for="inputPassword3" class="col-sm-4 control-label">Profil</label>
													<div class="col-sm-5">
														<p:inputText readonly="true" value="#{login.userConnecte.profil.libelle}" class="form-control"  />
													</div>
												</div>												
												
											</div>									
									</div>
									
								</div>
								
								
								
								<div class="box-content">
									<h4 class="box-title">Modifier votre mot de passe</h4>
									<!-- /.box-title -->
									
									
									<!-- /.dropdown js__dropdown -->
									
									<div class="card-content">
											<div class="form-horizontal">
												<div class="form-group">
													<label for="inputEmail3" class="col-sm-4 control-label">Nouveau mot de passe</label>
													<div class="col-sm-5">
														<p:password validatorMessage="Les mots de passe ne correspondent pas" requiredMessage="Nouveau mot de passe ?" required="true"  match="mdp" feedback="true" weakLabel="Faible" goodLabel="Bon" strongLabel="Fort"  value="#{login.userConnecte.mdp1}" class="form-control"  />
													</div>
												</div>
												<div class="form-group">
													<label for="inputPassword3" class="col-sm-4 control-label">Confirmer le nouveau mot de passe</label>
													<div class="col-sm-5">
														<p:password  requiredMessage="Veuillez confirmer le mot de passe" required="true" id="mdp" value="#{login.userConnecte.mdp2}" class="form-control"  />
													</div>
												</div>
																							
												<div class="form-group margin-bottom-0">
													<div class="col-sm-offset-4 col-sm-8">
														<p:commandLink action="#{utilisateurService.updatePassUserConnected()}" class="btn btn-info btn-sm waves-effect waves-light">Enregistrer</p:commandLink>
													</div>
												</div>
											</div>									
									</div>
									
								</div>								
								<!-- /.box-content -->
							</div>
							
						</div>
					</div>
				</h:form>	
				

                             						
		</ui:define>
	</ui:composition>
</html>
