<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd"> 
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:p="http://primefaces.org/ui"> 

<h:head>

	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
	<meta http-equiv="X-UA-Compatible" content="IE=edge"/>
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no"/>
	<meta name="description" content=""/>
	<meta name="author" content=""/>
	<link rel="shortcut icon" href="/pmescoring/style3/assets/images/favicon.png"/>

	<title><ui:insert name="titre"></ui:insert></title>

	<!-- Main Styles -->
	<link rel="stylesheet" href="/pmescoring/style3/assets/styles/style.min.css"/>
	
	<!-- Themify Icon -->
	<link rel="stylesheet" href="/pmescoring/style3/assets/fonts/themify-icons/themify-icons.css"/>

	<!-- mCustomScrollbar -->
	<link rel="stylesheet" href="/pmescoring/style3/assets/plugin/mCustomScrollbar/jquery.mCustomScrollbar.min.css"/>

	<!-- Waves Effect -->
	<link rel="stylesheet" href="/pmescoring/style3/assets/plugin/waves/waves.min.css"/>

	<!-- Sweet Alert -->
	<link rel="stylesheet" href="/pmescoring/style3/assets/plugin/sweet-alert/sweetalert.css"/>
	
	<!-- Data Tables -->
	<link rel="stylesheet" href="/pmescoring/style3/assets/plugin/datatables/media/css/dataTables.bootstrap.min.css"/>
	<link rel="stylesheet" href="/pmescoring/style3/plugin/datatables/extensions/Responsive/css/responsive.bootstrap.min.css"/>	
        
</h:head> 
<body> 

<div class="main-menu">
	<header class="header">
		<p:commandLink action="#{projetService.versHome()}" class="logo"><img src="/pmescoring/style3/assets/images/logo_mini.png"  />PME Scoring</p:commandLink>
		<button type="button" class="button-close fa fa-times js__menu_close"></button>
	</header>
	<!-- /.header -->
	<div class="content">

		<!-- **************************MENU************************************** -->
		
		<ui:include src="/private/menu3.xhtml" />
		
		<!-- ******************************************************************** -->
		
		

		<!-- /.navigation -->
	</div>
	<!-- /.content -->
</div>
<!-- /.main-menu -->

<h:form id="formheader" class="fixed-navbar">
	<div class="pull-left">
		<button type="button" class="menu-mobile-button glyphicon glyphicon-menu-hamburger js__menu_mobile"></button>
		<h1 class="page-title"><ui:insert name="titre_page"></ui:insert></h1>
		<p:messages id="messages" showDetail="true" autoUpdate="true" closable="true" showIcon="false" showSummary="false"  />
		<!-- /.page-title -->
	</div>
	<!-- /.pull-left -->
	<div class="pull-right">
		<div class="ico-item">
			<a href="#" class="ico-item ti-search js__toggle_open" data-target="#searchform-header"></a>
			<div id="searchform-header" class="searchform js__toggle"><p:inputText placeholder="Recherche" class="input-search"/><p:commandLink class="ti-search button-search" /></div>
			<!-- /.searchform -->
		</div>
		<!-- /.ico-item -->
		<!-- <a href="#" class="ico-item ti-email notice-alarm js__toggle_open" data-target="#message-popup"></a> -->
		<a href="#" class="ico-item ti-bell notice-alarm js__toggle_open" data-target="#notification-popup"></a>
		<div class="ico-item">
			<i class="ti-user"></i>
			<ul class="sub-ico-item">
				<li><p:commandLink action="#{utilisateurService.versSetting()}">Paramètres</p:commandLink></li>
				<li>
					<p:commandLink onclick="confirmaction('Voulez-vous vraiment vous déconnecter ?','','formheader:logout')">Déconnexion</p:commandLink>
					<p:commandLink style="display:none" action="#{login.logout()}" id="logout"/>
				</li>
			</ul>
			<!-- /.sub-ico-item -->
		</div>
	</div>
	<!-- /.pull-right -->
</h:form>
<!-- /.fixed-navbar -->

<div id="notification-popup" class="notice-popup js__toggle" data-space="75">
	<h2 class="popup-title">Notifications</h2>
	<!-- /.popup-title -->
	<div class="content">
		<ul class="notice-list">
			
<!-- 			<li>
				<a href="#">
					<span class="avatar"><img src="http://placehold.it/80x80" alt=""/></span>
					<span class="name">Thomas William</span>
					<span class="desc">Like your post: “Facebook Messenger”</span>
					<span class="time">Oct, 27</span>
				</a>
			</li> -->
		</ul>
		<!-- /.notice-list -->
		<!-- <a href="#" class="notice-read-more">See more messages <i class="fa fa-angle-down"></i></a> -->
	</div>
	<!-- /.content -->
</div>
<!-- /#notification-popup -->
        	
        	<!-- *************************************************************************-->
        	<ui:insert name="body"></ui:insert>
        	<!-- *************************************************************************-->

<div id="message-popup" class="notice-popup js__toggle" data-space="75">
	<h2 class="popup-title">Recent Messages<a href="#" class="pull-right text-danger">New message</a></h2>
	<!-- /.popup-title -->
	<div class="content">
		<ul class="notice-list">
<!-- 			<li>
				<a href="#">
					<span class="avatar"><img src="http://placehold.it/80x80" alt=""/></span>
					<span class="name">John Doe</span>
					<span class="desc">Amet odio neque nobis consequuntur consequatur a quae, impedit facere repellat voluptates.</span>
					<span class="time">10 min</span>
				</a>
			</li> -->
			
		</ul>
		<!-- /.notice-list -->
		<a href="#" class="notice-read-more">See more messages <i class="fa fa-angle-down"></i></a>
	</div>
	<!-- /.content -->
</div>
<!-- /#message-popup -->
<div id="wrapper">
	<div class="main-content">
	

		
		<footer class="footer">
			<ul class="list-inline">
				<li>2020 © ANPI.</li>
			<!-- 	<li><a href="#">Privacy</a></li>
				<li><a href="#">Terms</a></li>
				<li><a href="#">Help</a></li> -->
			</ul>
		</footer>
	</div>
	<!-- /.main-content -->
</div><!--/#wrapper -->
	<!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
	<!--[if lt IE 9]>
		<script src="assets/script/html5shiv.min.js"></script>
		<script src="assets/script/respond.min.js"></script>
	<![endif]-->
	<!-- 
	================================================== -->
	<!-- Placed at the end of the document so the pages load faster -->     
     
	<script src="/pmescoring/style3/assets/scripts/jquery.min.js"></script>
	<script src="/pmescoring/style3/assets/scripts/modernizr.min.js"></script>
	<script src="/pmescoring/style3/assets/plugin/bootstrap/js/bootstrap.min.js"></script>
	<script src="/pmescoring/style3/assets/plugin/mCustomScrollbar/jquery.mCustomScrollbar.concat.min.js"></script>
	<script src="/pmescoring/style3/assets/plugin/nprogress/nprogress.js"></script>
	<script src="/pmescoring/style3/assets/plugin/sweet-alert/sweetalert.min.js"></script>
	<script src="/pmescoring/style3/assets/plugin/waves/waves.min.js"></script>
	<!-- Sparkline Chart -->
	<script src="/pmescoring/style3/assets/plugin/chart/sparkline/jquery.sparkline.min.js"></script>
	<script src="/pmescoring/style3/assets/scripts/chart.sparkline.init.min.js"></script>
	<script src="/pmescoring/style3/assets/scripts/main.min.js"></script>    
	
	<!-- Data Tables -->
	<script src="/pmescoring/style3/assets/plugin/datatables/media/js/jquery.dataTables.min.js"></script>
	<script src="/pmescoring/style3/assets/plugin/datatables/media/js/dataTables.bootstrap.min.js"></script>
	<script src="/pmescoring/style3/assets/plugin/datatables/extensions/Responsive/js/dataTables.responsive.min.js"></script>
	<script src="/pmescoring/style3/assets/plugin/datatables/extensions/Responsive/js/responsive.bootstrap.min.js"></script>
	<script src="/pmescoring/style3/assets/scripts/datatables.demo.min.js"></script>
	
	<script>
	
	function confirmaction(titre,question,idbutton){

	      swal({
			      title: titre,
			      text: question,
			      type:"warning",
			      showCancelButton:!0,
			      confirmButtonColor:"#DD6B55",
			      confirmButtonText:"Oui, je continue",
			      cancelButtonText:"Non!",
			      closeOnConfirm:1,
			      closeOnCancel:1,
			      confirmButtonColor:"#f60e0e"
			   },function(t){
				   t?document.getElementById(idbutton).click():function(){}
			   }
	      	 )
	}



 	var resetTime_int;
	function resetTimer(){
	    if(resetTime_int) window.clearTimeout(resetTime_int)
	    resetTime_int=window.setTimeout(
			function (){
				swal({title:"Votre session est inactive!",text:"Vous allez être déconnecter dans une minute...",timer:60e3,showConfirmButton:1,confirmButtonColor:"#f60e0e",confirmButtonText:"Reprendre"},function(){location.reload()}); 
		    	}
	    , 1000*60*5)
	}

	resetTimer();
	//document.onmousemove=resetTimer;
	document.onkeyup=resetTimer;
		
	</script>   
	    
</body> 
</html>
