<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd"> 
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:p="http://primefaces.org/ui"> 

	<ui:composition template="template3.xhtml">
		<ui:define name="titre_page">Gestion des utilisateurs</ui:define>
		<ui:define name="titre"></ui:define>
		<ui:define name="body">
		
				<h:form id="wrapper">
					<div class="main-content">
						<div class="row small-spacing">
							<div class="col-xs-12">
								<div class="box-content">
									<h4 class="box-title"></h4>
									<!-- /.box-title -->
									
									<div class="dropdown js__drop_down">
										<a href="#" class="dropdown-icon glyphicon glyphicon-option-vertical js__drop_down_button"></a>
										<ul class="sub-menu">
											<li><p:commandLink action="#{utilisateurService.init()}" oncomplete="$('#modaluser').modal('show')">Créer un utilisateur</p:commandLink></li>
										</ul>
										<!-- /.sub-menu -->
									</div>
									<!-- /.dropdown js__dropdown -->
									<table id="example" class="table table-striped table-bordered display" style="width:100%">
										<thead>
											<tr>
												<th>Login</th>
												<th>Nom</th>
												<th>Prénom</th>
												<th>Profil</th>
												<th>eMail</th>
												<th>Dernière connexion</th>
												<th>Statut</th>
											</tr>
										</thead>
										<tfoot>
											<tr>
												<th>Login</th>
												<th>Nom</th>
												<th>Prénom</th>
												<th>Profil</th>
												<th>eMail</th>
												<th>Dernière connexion</th>
												<th>Statut</th>
											</tr>
										</tfoot>
										<tbody>
											<ui:repeat var="obj" value="#{utilisateurService.list}">
												<tr>
													<td>
														<p:commandLink update="@([id$=formUser])" oncomplete="$('#modaluser').modal('show')">
														<f:setPropertyActionListener value="#{obj}" target="#{utilisateurService.utilisateur}"></f:setPropertyActionListener>
														#{obj.login}
														</p:commandLink>
													</td>
													<td>#{obj.nom}</td>
													<td>#{obj.prenom}</td>
													<td>#{obj.profil.libelle}</td>
													<td>#{obj.mail}</td>
													<td><h:outputText value="#{obj.derniereConnexion}" ><f:convertDateTime timeZone="GMT+1" pattern="dd/MM/yyyy hh:mm"/></h:outputText></td>
													<td><h:outputText styleClass="label label-#{obj.actif?'success':'danger'}" value="#{obj.actif?'Actif':'Inactif'}" /></td>
												</tr>
											</ui:repeat>
											
										</tbody>
									</table>
								</div>
								<!-- /.box-content -->
							</div>
							
						</div>
					</div>
				</h:form>	
				
<!-- *****************************************POP USER************************************************ -->	

		<div class="modal fade" id="modaluser" tabindex="-1" role="dialog" aria-labelledby="myModalLabel-2">
			<div class="modal-dialog " role="document">
				<h:form id="formUser" class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
						<h4 class="modal-title" id="myModalLabel-2">Créer un utilisateur</h4>
					</div>
					<div class="modal-body">
						<div class="card-content">
							<div class="input-group margin-bottom-20">
								<div class="input-group-btn"><label for="ig-1" class="btn btn-default"><i class="fa fa-user"></i></label></div>
								<!-- /.input-group-btn -->
								<p:inputText  required="true" requiredMessage="Nom ?"  value="#{utilisateurService.utilisateur.nom}" onblur="value=value.toUpperCase()" style="text-transform: uppercase" class="form-control" placeholder="Nom"/>
							</div>
							<div class="input-group margin-bottom-20">
								<div class="input-group-btn"><label for="ig-1" class="btn btn-default"><i class="fa fa-user"></i></label></div>
								<!-- /.input-group-btn -->
								<p:inputText  required="true" requiredMessage="Prénom ?"  value="#{utilisateurService.utilisateur.prenom}" onblur="value=value.toUpperCase()" style="text-transform: uppercase" class="form-control" placeholder="Prénom"/>
							</div>	
							<div class="input-group margin-bottom-20">
								<div class="input-group-btn"><label for="ig-1" class="btn btn-default"><i class="fa fa-user-secret"></i></label></div>
								<!-- /.input-group-btn -->
								<p:inputText  required="true" requiredMessage="Nom d'utilisateur ?"  value="#{utilisateurService.utilisateur.login}" onblur="value=value.toLowerCase()" style="text-transform: lowercase" class="form-control" placeholder="Nom d'utilisateur"/>
							</div>													
							<!-- /.input-group -->
							<div class="input-group margin-bottom-20">
								<div class="input-group-btn"><label for="ig-2" class="btn btn-default"><i class="fa fa-envelope"></i></label></div>
								<!-- /.input-group-btn -->
								<p:inputText  required="true" requiredMessage="Adresse mail ?"  value="#{utilisateurService.utilisateur.mail}" onblur="value=value.toLowerCase()" style="text-transform: lowercase" class="form-control" placeholder="Adresse mail"/>
							</div>
							<!-- /.input-group -->
							
							<div class="form-group">
								<label for="exampleInputEmail1">Actif </label>
								  <h:outputText value=" " /><h:selectBooleanCheckbox value="#{utilisateurService.utilisateur.actif}" />																
						    </div>								
							
							<div class="form-group">
								<label for="exampleInputEmail1">Profil</label>
								  <h:selectOneMenu required="true" requiredMessage="Profil ?" styleClass="form-control" value="#{utilisateurService.utilisateur.profil}" converter="typeConverter">
								  	  <f:selectItem itemLabel="" itemValue="" noSelectionOption="false" />
									  <f:selectItems value="#{referentielService.returnListContext('PROFIL')}" var="c" itemValue="#{c}" itemLabel="#{c.libelle}"/>
								  </h:selectOneMenu>																
						    </div>							
							
						</div>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-default btn-sm waves-effect waves-light" data-dismiss="modal">Annuler</button>
						<p:commandLink rendered="#{utilisateurService.utilisateur.id eq null}" onclick="$('#modaluser').modal('hide')" action="#{utilisateurService.enregistrerUser()}" class="btn btn-primary btn-sm waves-effect waves-light">Enregistrer</p:commandLink>
						<p:commandLink rendered="#{utilisateurService.utilisateur.id ne null}" onclick="$('#modaluser').modal('hide')" action="#{utilisateurService.modifierUser()}" class="btn btn-primary btn-sm waves-effect waves-light">Modifier</p:commandLink>
					</div>
				</h:form>
			</div>
		</div>

<!-- ************************************************************************************************* -->				
                             						
		</ui:define>
	</ui:composition>
</html>
