<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd"> 
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:p="http://primefaces.org/ui"> 

<h:head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
	<meta http-equiv="X-UA-Compatible" content="IE=edge"/>
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no"/>
	<meta name="description" content=""/>
	<meta name="author" content=""/>
	<link rel="shortcut icon" href="/pmescoring/style3/assets/images/favicon.png"/>

	<title>PME Scoring</title>
	<link rel="stylesheet" href="/pmescoring/style3/assets/styles/style.min.css"/>

	<!-- Waves Effect -->
	<link rel="stylesheet" href="/pmescoring/style3/assets/plugin/waves/waves.min.css"/>
	
	<!-- Sweet Alert -->
	<link rel="stylesheet" href="/pmescoring/style3/assets/plugin/sweet-alert/sweetalert.css"/>
</h:head> 
<body> 

<div id="single-wrapper">
	<h:form  class="frm-single">
		<div class="inside">
			<div class="title"><strong>PME</strong>Scoring</div>
			<!-- /.title -->
			<div class="frm-title">Authentification</div>
			<!-- /.frm-title -->
			<div class="frm-input"><p:inputText value="#{login.user}" placeholder="Username" class="frm-inp"/><i class="fa fa-user frm-ico"></i></div>
			<!-- /.frm-input -->
			<div class="frm-input"><p:password value="#{login.pwd}" placeholder="Password" class="frm-inp"/><i class="fa fa-lock frm-ico"></i></div>
			<!-- /.frm-input -->
			<div class="clearfix margin-bottom-20">
				
				<!-- /.pull-left -->
				<div class="pull-right"><a href="#" class="a-link"><i class="fa fa-unlock-alt"></i>Mot de passe oublié ?</a></div>
				<!-- /.pull-right -->
			</div>
			<!-- /.clearfix -->
			<p:commandButton action="#{login.validateUsernamePassword()}" class="frm-submit" value="Connexion"></p:commandButton>
			<div class="row small-spacing">
				
			</div>
			<!-- /.row -->
			<div class="frm-footer">ANPI © 2020.</div>
			<!-- /.footer -->
		</div>
		<!-- .inside -->
	</h:form>
	<!-- /.frm-single -->
</div><!--/#single-wrapper -->

	<!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
	<!--[if lt IE 9]>
		<script src="assets/script/html5shiv.min.js"></script>
		<script src="assets/script/respond.min.js"></script>
	<![endif]-->
	<!-- 
	================================================== -->
	<!-- Placed at the end of the document so the pages load faster -->
	<script src="/pmescoring/style3/assets/scripts/jquery.min.js"></script>
	<script src="/pmescoring/style3/assets/scripts/modernizr.min.js"></script>
	<script src="/pmescoring/style3/assets/plugin/bootstrap/js/bootstrap.min.js"></script>
	<script src="/pmescoring/style3/assets/plugin/nprogress/nprogress.js"></script>
	<script src="/pmescoring/style3/assets/plugin/waves/waves.min.js"></script>
	<script src="/pmescoring/style3/assets/plugin/sweet-alert/sweetalert.min.js"></script>
	<script src="/pmescoring/style3/assets/scripts/main.min.js"></script>
	
	<script>
 	var resetTime_int;
	function resetTimer(){
	    if(resetTime_int) window.clearTimeout(resetTime_int)
	    resetTime_int=window.setTimeout(
			function (){
				swal({title:"Votre session est inactive!",text:"Veuillez vous connecter...",timer:60e3,showConfirmButton:1,confirmButtonColor:"#f60e0e",confirmButtonText:"Connexion"},function(){location.reload()}); 
		    	}
	    , 1000*60*5)
	}

	resetTimer();
	//document.onmousemove=resetTimer;
	document.onkeyup=resetTimer;
	</script>
      
</body> 
</html>
